.brands {
	display: flex;
	margin: 0px 0px 43px 0px;
	&__column {
		flex: 0 0 50%;
		justify-content: center;
		&:first-child{
			display: flex;
			flex-direction: column;
			align-items: flex-end;
		}

		@media (max-width: $md2+px){
			&:last-child{
				display: none;
			}
			flex: 1 1 100%;
			&:first-child{
				align-items: flex-start;
				margin: 0px 0px 0px 50px;
			}
		}
		@media (max-width: $md6+px){
			&:first-child{
				margin: 0px 0px 0px 20px;
			}
		}
	}

	&__title {
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;
		font-size: 50px;
		letter-spacing: 0.5px;
		color: #333333;
		text-transform: capitalize;
		margin: 0px 301px 23px 0px;
		@media (max-width: $md1+px){
			margin: 0px 227px 23px 0px;
		}
		@media (max-width: $md3+px){
			font-size: 35px;
		}
		@media (max-width: $md4+px){
			margin: 0px 0px 23px 0px;
		}
		
	}

	&__subtitle {
		font-family: 'Open Sans', sans-serif;
		font-size: 25px;
		letter-spacing: 0.25px;
		line-height: 34px;
		color: #333333;
		span{
			color: #8d83f9;
		}
		max-width: 513px;
		margin: 0px 70px 23px 0px;
		@media (max-width: $md1+px){
			margin: 0px 0px 23px 0px;
		}
		@media (max-width: $md2+px){
			max-width: none;
			padding: 0px 20px 0px 0px;
		}
		@media (max-width: $md3+px){
			font-size: 20px;
		}
		@media (max-width: $md6+px){
			max-width: 300px;
		}
	}

	&__text {
		font-family: 'Open Sans', sans-serif;
		color: #333333;
		font-size: 16px;
		letter-spacing: 0.16px;
		line-height: 26px;
		max-width: 513px;
		margin: 0px 70px 109px 0px;
		@media (max-width: $md1+px){
			margin: 0px 0px 109px 0px;
		}
		@media (max-width: $md2+px){
			max-width: none;
			padding: 0px 20px 0px 0px;
		}
		@media (max-width: $md6+px){
			max-width: 300px;
			margin: 0px 0px 50px 0px;
		}
	}

	&__image {
		margin: 0px 0px 0px 84px;
	}
	
}
